<div class="center">
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <%= image_tag @house.image.url %>
      </div>
    </div>
    <div class="col-md-4">
       <div class="thumbnail">
      		<h2>Edit your place</h2>

      		<%= render 'form' %>

      		<%= link_to houses_path, class: "btn btn-default" do %>
            <i class="glyphicon glyphicon-chevron-left"></i>
          <% end %>

          <%= link_to @house, class: "btn btn-default" do %>
             <i class="glyphicon glyphicon-zoom-in"></i>
          <% end %> 
        </div>   
    </div>
  </div>  
</div>