<div class="center">
  <%= render 'error' %>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
       <div class="thumbnail">
          <div class="thumbnail">
          	<h2>Edit your place</h2><br>

      			<%= render 'form' %>

      			<%= link_to houses_path, class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-chevron-left"></i>
            <% end %>

		      </div>   
      </div>
    </div>  
  </div>
</div>