<h2>Have you met Roomie?</h2>

<h3> THE INSPIRATION </h3>
	<p>Studying abroad is a memorable life changing experience. More than education, it is about freedom, independence, auto-acknowledgment and fun.</p>
	<p>Each little detail is part of a history to be forever remembered. The place you stayed, the friends you made, the home fellows and moments you lived.</p>
	<p>It is a unique experience, and the choices of where you live and with who, shapes the whole moment. That is why being able to choose them makes all the difference.</p>

<h3> HOW WE DO IT </h3>
	<p>Your exchange starts before you leave the confort of your hometown, and it’s all fairly simple. You use Roomie to find the perfect living arrangements for your time abroad, check out other students thoughts of each accommodations and you can also find cool people to live with.</p>
	<p>Maybe you’re a quiet person who likes your personal space, then you can rent a small apartment just for yourself. Or maybe you are looking for a big change and would like to live with people from lots of different places, you can connect with them. Whatever your preferences are, you fulfill them here. Don’t worry, we have room for everyone.</p>

<h3> WHO WE ARE</h3>
	<P>We are Roomie, a community born to embrace students from all around the world, anywhere in the world. To help those going abroad to find homes and roomates. And provide great tips about where you are going to from students living there. We want to make sure you will have the best time of your life and make you feel comfortable living in whichever way pleases you the most.</P>